body{
background-image: url(image/background.png);
position: relative;
background-position: center center; /* Görseli Ortala */
background-repeat: no-repeat; /* Resmi tekrarlama */
background-size: cover; /* resmi ekranı kaplayacak hale getir. */
background-attachment: fixed;
width: 100%;
height: auto;
overflow: hidden;
}

.p1{
margin-top: 280px;
font-family: 'Inter', sans-serif;   
font-style: bold;
font-size:75px;
color: white;
}

.p2{
color: white;
font-size: 14px;
font-family: 'Inter', sans-serif;
margin-bottom: 550px;
}

.p3{
font-size: 18px;
color: #434966;
font-family: 'Inter', sans-serif;
}

.form{
    background-color: white;
    margin-top: 94px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}