body{
background-image: url(image/background.png);
position: relative;
background-position: center center; /* Görseli Ortala */
background-repeat: no-repeat; /* Resmi tekrarlama */
background-size: cover; /* resmi ekranı kaplayacak hale getir. */
background-attachment: fixed;
/*width: 100%;
height: auto;
overflow: hidden;*/
}

.p1{
margin-top: 280px;
font-family: 'Inter', sans-serif;   
font-style: bold;
font-size:75px;
color: white;
}

.p2{
color: white;
font-size: 14px;
font-family: 'Inter', sans-serif;
margin-bottom: 550px;
}

.p3{
font-size: 18px;
color: #434966;
font-family: 'Inter', sans-serif;
padding-top: 15px;
}

.form{
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    width: 486px;
}

.Subtotal{
 font-size: 14px;
 font-weight: bold;
 margin-top: 15px;
}

.Charge{
 font-size: 14px;
 font-weight: bold;
margin-top: -15px;
}

.line{
 margin-top: -20px;
 margin-left: 6px;
}

.button1{
    background-color: #E33741;
    width: 450px;
    height: 42px;
    margin-bottom: 5px;
    margin-left: 8px;
    border: #E33741;
    border-radius: 5px;
    color: white;
    font-weight: bold;
   
}

.total{
font-size: 14px;
font-weight: bold;

}