body{
background-image: url(image/background.png);
position: relative;
background-position: center center; /* Görseli Ortala */
background-repeat: no-repeat; /* Resmi tekrarlama */
background-size: cover; /* resmi ekranı kaplayacak hale getir. */
background-attachment: fixed;
/*width: 100%;
height: auto;
overflow: hidden;*/
}

.p1{
margin-top: 280px;
font-family: 'Inter', sans-serif;   
font-style: bold;
font-size:75px;
color: white;
}

.p2{
color: white;
font-size: 14px;
font-family: 'Inter', sans-serif;
margin-bottom: 550px;
}

.p3{
font-size: 18px;
color: #434966;
font-family: 'Inter', sans-serif;
padding-top: 15px;
}

.p4{
margin-left: 30px;

}

.form{
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    width: 486px;
}

.Subtotal{
 font-size: 14px;
 font-weight: bold;
 margin-top: 15px;
 margin-left: 5px;
}

.Charge{
 font-size: 14px;
 font-weight: bold;
margin-top: -15px;
margin-left: 5px;
}

.line{
 margin-top: -20px;
 margin-left: 6px;
}

.button1{
    background-color: #E33741;
    width: 450px;
    height: 42px;
    margin-bottom: 5px;
    margin-top: -10px;
    margin-left: 8px;
    border: #E33741;
    border-radius: 5px;
    color: white;
    font-weight: bold;
   
}

.total{
font-size: 14px;
font-weight: bold;
margin-left: 5px;
}

/*input içindeki yukarı aşağı oklarının kaldırılması*/
input[type="number"]::-webkit-inner-spin-button{
    appearance: none;
}

.subtotal{
font-weight: bold;
margin-top: 5px;
}

.p8{
margin-top: 25px;
}

.p11{
margin-top: -20px;
}

.p12{
margin-left: 30px;
}

.form2{
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    width: 486px;
    margin-left: 550px;

}

.h3{
color:#434966;
font-size: 48px;
font-weight: bold;
text-align: center;
font-family: 'Inter', sans-serif;
}

.cruiser{
margin-left: 70px;
}

.button2{
    background-color: #E33741;
    width: 432px;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border: #E33741;
    border-radius: 5px;
    color: white;
    font-weight: bold;   
}

.round-button {
    font-size: 28px;
    font-weight: bold;
    margin-top: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E33741;
    border: none;
    color: #ffffff;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
  }

  .round-button:focus {
    outline: none;
  }

  
/*.plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #fff;
  }*/
  
  #sonuc{
font-weight: bold;
text-align: right;
margin-top: 15px;
  }

  #indirimlisonuc{
    font-weight: bold;
    text-align: right;
    margin-top: -15px;
  }

#totalsonuc{
    font-weight: bold;
    text-align: right;
    margin-top: -6px;

}

.logo{
margin-left: -140px;
margin-top: 40px;
}
.logo2{
margin-left: -143px;
}

.biletCiktilari1{
   margin-left: 30px;
}
.biletCiktilari2{
    margin-left: 30px;
 }

.line2{
margin-left: 30px;
}

#totalYazisi{
  font-weight: bold;
  margin-left: 30px;
  font-size: 18px;
}

#totalBiletYazdirma{
  font-weight: bold;
 text-align: left;
 
}
